<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" type="text/css" href="muma.css">
    <title></title>
</head>
<body>
<div class="top" id="app">
    <div class="top1">
        <div class="container">
            <nav class="navbar navbar-default nav_background" role="navigation">
                <div class="collapse navbar-collapse"><!--折叠包裹设置top1固定宽度起来防止导航折叠，需要按钮来实现折叠，详情看api-->
                    <ul class="nav navbar-nav">
                        <li><img id="imgid" src="logo1.png" class="imglogo"></li>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">作业查重</a></li>
                        <li><a href="#">在线改重</a></li>
                        <li><a href="#">机器改重</a></li>
                        <li><a href="#">关于查重</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="md">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="carousel">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- 轮播（Carousel）指标 -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="image/timg1.jpg" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="image/timg2.jpg" alt="Second slide">
                            </div>
                            <div class="item">
                                <img src="image/timg3.jpg" alt="Third slide">
                            </div>
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="col-right">
                    <div>
                        <h3>作业查重报告</h3>
                    </div>
                    <div><h4>速度快，查重准确，最优结果的查重报告</h4></div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">学生</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">教师</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="process">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 process_child">
                <div>
                    <h3>作业检测流程</h3>
                    <h5>PAPER TEST PRRCESS</h5>
                    <h5>只需简单4步，快速得到作业提交结果</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 all">
                <div class="all_step">
                    <img src="image/login.png">
                    <h5>step1</h5>
                    <h4>登录注册</h4>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 all">
                <div class="all_step">
                    <img src="image/tijiao.png">
                    <h5>step2</h5>
                    <h4>提交作业</h4>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 all">
                <div class="all_step">
                    <img src="image/jiance.png">
                    <h5>step3</h5>
                    <h4>立即检测</h4>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 all">
                <div class="all_step">
                    <img src="image/baogao.png">
                    <h5>step4</h5>
                    <h4>查看报告</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text_botton">
                <button type="button" class="btn btn-primary btn-lg btn-block">开始检测</button>
            </div>
        </div>
    </div>
</div>
<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 product_child">
                <div class="product_title">
                    <h3>产品特点</h3>
                    <h6>Product Features</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <div class="product_child1">
                    <h4>智能检测对比</h4>

                    <p>格子达采用强大的智能语义识别技术能够快速的命中并识别出检测文件与比对源中的相似内容，系统的检测速度、检测精度、检测全面性已达行业顶级，与学校采用的主流论文检测系统算法技术处于同一水平</p>
                </div>
                <div class="product_child1">
                    <h4>对比学生资源库</h4>

                    <p>格子达采用强大的智能语义识别技术，能够快速的命中并识别出检测文件与比对源中的相似内容，系统的检测速度、检测精度、检测全面性已达行业顶级，与学校采用的主流论文检测系统算法技术处于同一水平</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <div class="contain">
                    <div class="product_childmd">
                        <img src="image/roate-bg.png">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
                <div class="product_child2">
                    <h4>检测安全</h4>

                    <p>格子达采用强大的智能语义识别技术，能够快速的命中并识别出检测文件与比对源中的相似内容，系统的检测速度、检测精度、检测全面性已达行业顶级，与学校采用的主流论文检测系统算法技术处于同一水平</p>
                </div>
                <div class="product_child2">
                    <h4>高质量检测</h4>

                    <p>格子达采用强大的智能语义识别技术、能够快速的命中并识别出检测文件与比对源中的相似内容，系统的检测速度、检测精度、检测全面性已达行业顶级，与学校采用的主流论文检测系统算法技术处于同一水平</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //用jquery.js监听滚动条到顶部的距离来判断渲染过度以及动画显示
    $(window).scroll(function () {
        var obj = document.getElementById("imgid")
        var scrollpos = $(this).scrollTop();//$(this)意思为将dom对象转换为jquery对象，这样就可以使用jquery提供的方法操作
        if (scrollpos != 0) {
            $(".top1").css({
                "background-color": 'white'//jquery.js中css方法$("p").css({"background-color":"yellow","font-size":"200%"});
            })
            obj.src = 'logo1.png'//设置src路径
            obj.classList = 'imglogo on'//设置类名
        }
        else {
            $(".top1").css({
                "background-color": "transparent"
            })
            obj.src = 'logo.png'//设置src路径
            obj.classList = 'imglogo'//设置类名
        }
    })
</script>
</body>
</html>